.bsimage
{
    width: 80px;
    align-items: center;
}
.paragraph
{
    font-size: large;
    /* display: block; */
    text-align: center;
}
.paragraph1
{
    font-size: large;
    /* display: block; */
    text-align: center; 
}
.screenshot2
{
   width: 500px;


}